[user]
	name = Jørgen Høhling Blakey
	email = 53434466+HeadCookie@users.noreply.github.com
	signingkey = C1129C97527B4F3F
[core]
	editor = nvim
	excludesfile = /Users/jorgenjensen/.gitignore
  hooksPath = /Users/jorgenjensen/.config/git/hooks
	autocrlf = false
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[maintenance]
	auto = true
[rerere]
	enabled = true
[rebase]
	updateRefs = true
  autoStash = true
